/* ربط صور القطع بصيغة SVG من مجلد public */
.blue-merida .wp { background-image: url('/images/pieces/cburnett/wP.svg'); }
.blue-merida .wn { background-image: url('/images/pieces/cburnett/wN.svg'); }
.blue-merida .wb { background-image: url('/images/pieces/cburnett/wB.svg'); }
.blue-merida .wr { background-image: url('/images/pieces/cburnett/wR.svg'); }
.blue-merida .wq { background-image: url('/images/pieces/cburnett/wQ.svg'); }
.blue-merida .wk { background-image: url('/images/pieces/cburnett/wK.svg'); }

.blue-merida .bp { background-image: url('/images/pieces/cburnett/bP.svg'); }
.blue-merida .bn { background-image: url('/images/pieces/cburnett/bN.svg'); }
.blue-merida .bb { background-image: url('/images/pieces/cburnett/bB.svg'); }
.blue-merida .br { background-image: url('/images/pieces/cburnett/bR.svg'); }
.blue-merida .bq { background-image: url('/images/pieces/cburnett/bQ.svg'); }
.blue-merida .bk { background-image: url('/images/pieces/cburnett/bK.svg'); }

/* تنسيق خلفية الرقعة */
.cg-board-container {
  background-image: url('/images/boards/wood.jpg'); /* استدعاء خلفية الخشب */
  background-size: cover;
}

/* تحسين شكل المربعات المختارة */
.cg-wrap square.last-move {
  background-color: rgba(155, 199, 0, 0.41);
}

.cg-wrap square.selected {
  background-color: rgba(20, 85, 30, 0.5);
}