/* توزيع الصفحة الرئيسية (Dashboard Layout) */
.game-layout {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 2rem;
  align-items: start;
}

@media (max-width: 1024px) {
  .game-layout {
    grid-template-columns: 1fr;
  }
}

/* تنسيق شريط التقييم الجانبي */
.evaluation-wrapper {
  @apply h-full flex flex-col justify-between items-center py-2 bg-[#21201d] rounded-l-md;
}